<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5 mb-5 ">
                <h2 class="text-center">Contact Details</h2>
                <div class="card-body ">
                  <h4 class="card-title">NIKHIL DURGE</h4>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text">Jogithana Peth, <br> Near Yuva Jagruti Society, <br> Umred, Dist.Nagpur <br> Maharashtra- 441203, <br> Contact Number: 9595996736, <br> Email: nvdurge@gmail.com </p>
                  <h5 class="card-title" id="social-media">Social Media Links</h5>
                  <div class="text-center">
                  <a class="btn btn-outline-primary" href="https://www.facebook.com/nikhil.durge.140" role="button">Facebook</a>
                  &nbsp;
                  <a class="btn btn-outline-danger" href="https://www.instagram.com/__hitlerr__/" role="button">Instagram</a>
                  &nbsp;
                  <a class="btn btn-outline-success" href="https://www.linkedin.com/in/nikhil-durge-82562a16b/" role="button">Linkedin</a>
                  
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>